.spinner {
    width: 100%;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #4BCBD9;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 1;
      }
}